.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      text-align: center;
      padding: 20px;
    }
  }
  